:root{
    --first:#d6efc7;
    --second:#fad586;
    --third:#96bb7c;
    --fourth:#184d47;
}

.bold{
font-weight: 700;
}
.two-rem{
    font-size: 2rem;
}
.pm-zero{
margin: 0;
padding: 0;
}

.border{
    border: solid black 1rem;
}

/* nav bar */
.search-btn{
    color: var(--fourth);
    background-color: var(--first);
    font-weight: 500;
}

.first-color{
color: var(--first) !important;
}


.first-color:hover{
    color: var(--third) !important;

}
.nav-color{
    background-color: var(--fourth);
}



/* each item */
.container{
    background-color: var(--third);
}

.item-container{
    margin: .2em;
    padding: .2em;
    background-color: var(--first);
    border-radius: 1em;
    overflow: hidden;
    text-align: center;

}
.item-image{
    width: 95%;
    border-radius: .5em;
    margin-top: 1em;    
}
.item-name{
line-height: 1rem ;
font-size: .8rem;


}
.price{
    line-height: 1rem;
    font-size: .8rem;

}






/* form */







.form-container{
    height: 100%;
    background-color:  var(--first);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-heading{
    color: var(--fourth);
    font-weight:700 ;
padding-bottom: 2rem;
}
.signup-label{
    color: var(--fourth);
    font-weight: 500;
}
.signup-btn{
    background-color: var(--fourth);
    color: var(--first);
}

@media (min-width: 576px){
.container {
    max-width: 100%;
}
}