:root{
    --first:#d6efc7;
    --second:#fad586;
    --third:#96bb7c;
    --fourth:#184d47;
}

.bold{
font-weight: 700;
}
.two-rem{
    font-size: 2rem;
}
.pm-zero{
margin: 0;
padding: 0;
}

.border{
    border: solid black 1rem;
}

/* nav bar */
.search-btn{
    color: var(--fourth);
    background-color: var(--first);
    font-weight: 500;
}

.first-color{
color: var(--first) !important;
}


.first-color:hover{
    color: var(--third) !important;

}
.nav-color{
    background-color: var(--fourth);
}



/* each item */
.container{
    background-color: var(--third);
    
    
}

.item-container{
    margin: .2em;
    background-color: var(--first);
    border-radius: 1em;
    overflow: hidden;
    text-align: center;

}
.item-image{
    width: 95%;
    height: 12em;
    border-radius: .5em;
    margin-top: 1em;    
}
.item-name{
    color: var(--fourth);
    font-weight: 700;
line-height: 1rem ;
font-size: .8rem;


}
.price{
    color: var(--fourth);

    font-weight: 700;
    line-height: 1rem;
    font-size: .8rem;

}
.btn-card{
    font-size: .7rem;
    color: var(--first);
    background-color: var(--fourth);
}

.btn-card:hover{
    color: var(--third);
}
.card-items{
    display: flex;
    justify-content: space-evenly;
    padding: .8rem 0;
}






/* form */

.container{
    min-height: 100%;
}

.form-container{
    height: 100%;
    background-color:  var(--first);
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-heading{
    color: var(--fourth);
    font-weight:700 ;
padding-bottom: 2rem;
}
.signup-label{
    color: var(--fourth);
    font-weight: 500;
}
.signup-btn{
    background-color: var(--fourth);
    color: var(--first);
}

/* footer */

.footer{
    width: 100%;
    height: 4em;
    background-color: var(--fourth);
    font-size: .8rem;
    color: var(--first);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}
.footer-text{
    padding: 0;
    margin: 0;
}

/* cart item card */

.cart-container{
    padding: 1rem;
    background-color: var(--third);

}

.card{
    background-color: var(--first);
    
}
.card-header{
    font-size: 1.2rem;
font-weight: 700;
color: var(--fourth);
}
.card-title{
    color: var(--fourth);

}
.btn-cart{
    background-color: var(--fourth);
    color: var(--first);
}
.btn-cart:hover{
    color: var(--third);
}
.cart-btns{
    display: flex;
    justify-content: space-around;
}
.btn-trash{
    color: var(--fourth);
    border: 0;
    background-color: var(--first);
}
.quantity-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icrement{
    display: flex;
    flex-direction: column;
    height: 1.5em;
    padding-left: .8em;
    justify-content: space-around;

}
.btn-quantity{
    padding: .06em;
    color: var(--fourth);
    background-color: var(--first);
    border: 0;
}



/* table */
.table{
    text-align: center;
}
.total{
    border-top:  var(--third) solid .1rem;
    padding-top: 1rem;
    color: var(--fourth);
    font-weight: 700;
}

/* account */
.account{
    height: 90%;
}


@media (min-width: 576px){
.container {
    max-width: 100%;
}
}